<section *ngIf="bannerImage.length>0" class="w-full relative text-center">
    <img class="thumbnail h-[80vh] w-full object-cover" src="https://image.tmdb.org/t/p/original{{bannerImage}}" />

    <div class="absolute top-1/2 left-1/3">
        <p class="text-8xl font-bold  shadow-sm text-white">Welcome</p>
        <p class="text-xl font-medium shadow-sm text-white">Millions of movies, TV shows and people to discover. Explore
            now.</p>
    </div>
</section>
<section *ngIf="movieData.length>0" class="">
    <div class="w-9/12 mx-auto">
        <div>
            <p class="text-white font-semibold text-3xl mb-5">Trending</p>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template *ngFor="let movies of movieData" carouselSlide>
                <div class="mx-4">
                    <div>
                        <img class="rounded-md h-96 w-auto drop-shadow-md object-cover"
                            src="https://image.tmdb.org/t/p/original{{movies.poster_path}}" />
                    </div>
                    <p class="text-white text-xl font-bold mt-2 truncate">{{movies.original_title }}</p>
                    <p class="text-white text-base font-medium">{{movies.release_date | dateFormat}}</p>
                </div>

            </ng-template>
        </owl-carousel-o>
    </div>
</section>



<section *ngIf="popularData.length>0" class="mt-24">
    <div class="w-9/12 mx-auto">
        <div>
            <p class="text-white font-semibold text-3xl mb-5">What's Popular</p>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template *ngFor="let popular of popularData" carouselSlide>
                <div class="mx-4">
                    <div>
                        <img class="rounded-md h-96 w-auto drop-shadow-md object-cover"
                            src="https://image.tmdb.org/t/p/original{{popular.poster_path}}" />

                    </div>
                    <p class="text-white text-xl font-bold mt-2 truncate">{{popular.original_name || popular.original_title }}</p>
                    <p class="text-white text-base font-medium">{{popular.first_air_date || popular.release_date
                        | dateFormat}}</p>
                </div>

            </ng-template>
        </owl-carousel-o>
    </div>
</section>


<section *ngIf="popularData.length>0" class="mt-24">
    <div class="w-9/12 mx-auto">
        <div>
            <p class="text-white font-semibold text-3xl mb-5">Top Rated</p>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template *ngFor="let toprated of topratedData" carouselSlide>
                <div class="mx-4">
                    <div>
                        <img class="rounded-md h-96 w-auto drop-shadow-md object-cover"
                            src="https://image.tmdb.org/t/p/original{{toprated.poster_path}}" />

                    </div>
                    <p class="text-white text-xl font-bold mt-2 truncate">{{toprated.original_name || toprated.original_title }}</p>
                    <p class="text-white text-base font-medium">{{toprated.first_air_date || toprated.release_date | dateFormat}}</p>
                </div>

            </ng-template>
        </owl-carousel-o>
    </div>
</section>

<div *ngIf="bannerImage.length>0" class="bg-transparent p-4 mt-24 text-center">
<p class="text-white font-semibold">Made with ❤️ by Ankush</p>
</div>